* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  color: var(--black);
  background: var(--white);
  font-family: 'Noto Sans KR', 'Open Sans', sans-serif;
}

:root {
  --white: #fff;
  --black: #000;
  --black-light: #4b4b4b;
  --primary: #7653fc;
  --primary-hover: #5a32b6;
  --blue: #1473e6;
  --blue-light: #e5f4ff;
  --red: #de0000;
  --red-light: #fc836d;
  --green-1d: #1dc37e;
  --green-1c: #1cc37e;
  --green-light: #c8f8e4;
  --brown: #dcb44e;
  --grey-3b: #3b434e;
  --grey-6e: #6e6e6e;
  --grey-78: #787d85;
  --grey-80: #808080;
  --grey-a4: #a4a4a4;
  --grey-b3: #b3c0d9;
  --grey-bb: #bbb;
  --grey-c4: #c4c4c4;
  --grey-d2: #d2d2d2;
  --grey-df: #dfdfdf;
  --grey-e2: #e2e2e2;
  --grey-eb: #ebebeb;
  --grey-f5: #f5f6f8;
  --grey-f9: #f9f8ff;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-noto-sans: 'Noto Sans';
  --font-open-sans: 'Open Sans';
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

a {
  text-decoration: none;
  color: inherit;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
